@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

/*  global */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2B9DFF;
    --second: #A52BFF;
    --black: #202427;
    --gray: #DFE2EA;
    --gradient: linear-gradient(var(--primary), var(--second));
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/*  page main */

.main {
    padding: 0 10%;
    background: url("./imagens/image.png") no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}

.main header h1 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

.main header h1 span {
    font-weight: 700;
}

.main header nav ul {
    display: flex;
    align-items: center;
}

.main header nav ul li a {
    color: var(--black);
    font-size: 17px;
    font-weight: bold;
    margin-left: 44px;
    color: #fff;
}

article {
    width: 60%;
    margin: 0 auto;
}

.main article h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #fff;
}

.main article p {
    margin-top: .5em;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.main article img {
    margin: 2%;
}

/*  page services */

.services {
    width: 100%;
    height: 700px;
    padding: 0 10%;
    background: #f9f9f9;
    position: relative;
}

.services::after {
    bottom: 0;
    position: absolute;
    background: inherit;
    content: " ";
    height: 100%;
    left: 0;
    right: 0;
    transform: skewY(-10deg);
    transform-origin: 100%;
    z-index: -1;
}

.services h3 {
    padding-top: 5%;
    font-size: 170px;
    font-weight: 800;
    color: var(--gray);
    opacity: 0.4;
    top: 0;
    left: 0;
    text-transform: uppercase;
    position: relative;
}

.services .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -70px;
}

.services .cards .card {
    z-index: 99;
    width: 410px;
    height: 390px;
    margin: 6px;
    padding: 60px 45px;
    border-radius: 25px 25px 140px 25px;

    background: #fff;
    box-shadow: 0 15px 60px rgba(38, 44, 52, .08);
}

.services .cards .card h4 {
    font-size: 25px;
    color: var(--primary);
    font-weight: bold;
}

.services .cards .card p {
    margin-top: 5px;
    font-size: 12px;
    color: var(--black);
}

.services .cards .card img {
    width: 150px;
    height: auto;
    margin-top: 30px;
}

.services .cards .card .react {
    width: 170px;
    height: auto;
}

/*  page projects */

.projects {
    padding: 0 10%;
    width: 100%;
    margin-top: 100px;
}

.project {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project img {
    height: 750px;
    margin-left: 60px;
}

.project .text {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.project .text h1 {
    color: var(--primary);
    font-size: 35px;
    font-weight: bold;
}

.project .text p {
    margin-top: 2%;
    color: var(--black);
}

.project .text button {
    width: 140px;
    height: 40px;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    background: var(--primary);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.project .text button:hover {
    transform: translateY(-3px);
}
/*  page github */

.github {
    background: url("./imagens/github-background.png") no-repeat;
    background-size: cover;
    color: white;
    padding: 150px 0;
    margin-top: -50px;
    text-align: center;
}

.github h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.github p {
    width: 100%;
    max-width: 450px;
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
}

.github button {
    width: 200px;
    height: 40px;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    background: #fff;
    color: #000;
    cursor: pointer;
    position: relative;
    padding-left: 50px;
    transition: all 0.2s ease;
}

.github button::before {
    position: absolute;
    display: block;
    left: 20%;
    top: 7px;
    content: url("./imagens/github-logo.png");
}

.github button:hover {
    transform: translateY(-3px);
}

/*  page contact */

.contact {
    margin-top: 80px;
    padding: 0 10%;
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .text {
    text-align: center;
}

.contact .text h3 {
    font-size: 30px;
    color: var(--primary);
}

.contact .text p {
    color: var(--black);
}
.contact form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.contact form input,textarea {
    margin-top: 4%;
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--black);
    font-size: 14px;
}

::-webkit-input-placeholder  {
     color:var(--black); 
     font-family: "Open Sans", Arial, Helvetica, sans-serif;
     font-size: 14px;
}

input:-moz-placeholder { 
    color:var(--black); 
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

textarea:-moz-placeholder { 
    color:var(--black); 
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.contact form input[type=submit]{
    width: 30%;
    height: 50px;
    margin-top: 3%;
    border: 0;
    border-radius: 5px;
    background: var(--second);
    color: #fff;
    padding: 4px 20px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}

.contact form input[type=submit]:hover {
    opacity: 0.7;
}

.contact .social {
    margin: 7% 0 5% 0;
    text-align: center;
}

.contact .social p {
    color: var(--black);
    opacity: 0.7;
}

.contact .social .icons {
    margin-top: 20px;
}

.contact .social .icons a img {
    height: 30px;
    margin: 0 20px;
    transition: all 0.2s ease;
}

.contact .social .icons a img:hover {
    transform: translateY(-3px);
}







